body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#msg {
    display: none;
}

#map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 88px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    left: 50px;
    top: 50px;
    background: rgb(54, 46, 50,0.5);
    padding: 10px;
}

.search-container {
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 55px;
    width: 700px;
    height: 60px;
    background-color: #454E53;
    display: flex;
    margin-top: 10px;
}

.search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container input:focus {
    outline: none;
}

.search i {
    font-size: 25px;
    color: white;
}

.countries-list-container {
    width: 600px;
    position: absolute;
    z-index: 100;
    background: rgb(54, 46, 50,0.5);
    left: 100px;
    top: 215px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 30px;
    display: none;
}

.countries-list-container .countries-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.countries-list::-webkit-scrollbar {
    width: 0px;
}

.countries-list:hover::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar {
    width: 12px;
}

.info-main-container {
    border-bottom: 1px solid #a3a3ab;
    padding-bottom: 5px;
}

.info-main-container .info-country {
    font-size: 22px;
    font-weight: bold;
    color: #ff0000;
}

.info-main-container .info-last-updated {
    font-style: italic;
    margin-top: 2px;
}

.info-secondary-container {
    font-size: 15px;
    margin-top: 5px;
}

.info-cases {
    color: #0000ff;
}

.info-recovered {
    color: #008000;
}

.info-death {
    color: #ff0000;
}





.country-container {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #979797;
    display: flex;
    transition: 0.2s;
}

.country-container:hover {
    background-color: rgb(170, 95, 47, 0.6);
    border-radius: 45px;
    cursor: pointer;
}

.country-container:hover .boundary {
    color: #fff !important;
}

.country-container:hover .country-flag {
    background-color: #fff;
    color: rgb(170, 95, 47);
}

.country-container .country-info-container {
    flex-grow: 1;
}

.country-container .country-name {
    font-size: 20px;
    margin-top: 30px;
}

.country-container .boundary {
    font-size: 15px;
    color: #B5ADAD;
    margin-top: 10px;
    margin-bottom: 15px;
}

.country-name span {
    display: block;
}

.country-flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-flag {
    width: 33px;
    height: 33px;
    background-color: #B5ADAD;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.loader-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgb(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-container h1 {
    display: none;
    -webkit-animation: spin 2s linear infinite;
    animation: showhide 1s 1s linear infinite alternate;
}

@-webkit-keyframes showhide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showhide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #ff0000;
    border-right: 15px solid #000;
    border-bottom: 15px solid #ff0000;
    border-left: 15px solid #000;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: display 0.5s ease-in-out;
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(360deg); 
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
